@using LibraryManagementSystem.ViewModels
@model LibrarianViewModel

@{
    ViewData["Title"] = "Delete Librarian";
}

<h2 class="my-4 text-danger">@ViewData["Title"]</h2>

<h3>Are you sure you want to delete this author?</h3>

<div class="card mt-3 p-3">
    <dl class="row">
        <dt class="col-sm-3">Email:</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">FPhone Number:</dt>
        <dd class="col-sm-9">@Model.PhoneNumber</dd>
    </dl>
</div>
<br />
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@if (TempData["Error"] != null)
{
    <br />
    <p style="color: red">@TempData["Error"]</p>
}