@using LibraryManagementSystem.Model
@model Author

@{
    ViewData["Title"] = "Edit Author";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="AuthorId" />

    <div class="mb-3">
        <label asp-for="FirstName" class="form-label">First Name</label>
        <input asp-for="FirstName" class="form-control" required />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label">First Name</label>
        <input asp-for="LastName" class="form-control" required />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="BirthDate" class="form-label">Birth Date</label>
        <input asp-for="BirthDate" class="form-control" type="date" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DateOfDeath" class="form-label">Date Of Death</label>
        <input asp-for="DateOfDeath" class="form-control" type="date" />
        <span asp-validation-for="DateOfDeath" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Biography" class="form-label">Biography</label>
        <textarea asp-for="Biography" class="form-control" rows="5" maxlength="500"></textarea>
        <span asp-validation-for="Biography" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save Changes</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>