@using LibraryManagementSystem.Model
@model Loan

@{
    ViewData["Title"] = "Loan Details";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model?.Reader?.FullName</h4>

        <dl class="row">
            <dt class="col-sm-4">Id:</dt>
            <dd class="col-sm-8">@Model?.LoanId</dd>

            <dt class="col-sm-4">Initial Date:</dt>
            <dd class="col-sm-8">@Model?.InitialDate</dd>

            <dt class="col-sm-4">Final Date:</dt>
            <dd class="col-sm-8">@Model?.FinalDate</dd>
        </dl>

        <table class="table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Book</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.LoanDetails != null && Model.LoanDetails.Any())
                {
                    @foreach (LoanDetail loanDetail in Model.LoanDetails.OrderBy(r => r.LoanDetailId))
                    {
                        <tr>
                            <td>@loanDetail?.Book?.Title</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">There are no registered books.</td>
                    </tr>
                }
            </tbody>
        </table>

        @if(User.IsInRole("Librarian"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.LoanId" class="btn btn-primary">Edit</a>
        }
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>